You've been invited by <%=@inviter.name%> to join the organization <%=@organization.name%> on <a href='https://www.getguesstimate.com'>Guesstimate</a>.
Sign up to <a href='<%=@redirect_url%>'>Guesstimate</a> using the email <%=@email%> to accept this invitation. <br /><br />

Happy Modeling! <br />
The Guesstimate Team
